## .NET
bin/
obj/
*.dll
*.exe
*.pdb
*.user
*.suo
*.cache
*.log

## NuGet
*.nupkg
**/packages/

## IDE
.vs/
.vscode/
*.sln.docstates

## OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
publish/

## User-specific
*.rsuser
*.userprefs
